body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #007bff 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) 1em;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button + button {
  margin-top: 10px;
}

  /* Añadimos estilos para el encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50; /* Cambiamos el color de fondo */
    color: #fff;
    padding: 10px 20px;
  }
  .nav-links li a.current-page {
    color: #007bff; /* Cambia el color del enlace a azul */
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-box button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #003f80;
  }
  
  /* Añadimos estilos para los cuadros en la parte izquierda */
  .header-left-box {
    display: flex;
  }
  
  .header-left-box .box {
    background-color: #4CAF50;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .header-left-box .box:last-child {
    margin-right: 0;
  }
